/**
 * Style for advertisements
 */

// Single ad block
.ad {
  display: block;
  border: 1px solid $border-color;
  margin: 0 0.5rem 0.5rem 0.5rem;

  img {
    width: 100%;
    height: auto;
  }
}

// Sidebar ad
.sidebar-ads {
  width: 100%;

  img {

  }
}