/**
 * Various card styles for different pages
 */

.cards-wrapper {
  background: #eeeeee;
  margin-bottom: 1rem;
}

.cards-title {
  font-size: 16px;
  padding: 10px 16px;
  border-bottom: 1px solid #dcdcdc;

  a.more {
    text-decoration: none;
    color: darkgray;
    float: right;
    margin-right: 5px;
  }
}

.cards-container {
  padding: 15px 10px 1px 10px;
}

/* deal-card style used in list of offers in topic page, offer category page */
mat-card.deal-card {
  margin: 0 4px 15px 4px;

  .deal-card-content {
    display: flex;
  }

  img {
    width: 64px;
    height: 64px;
    min-width: 64px;
    border: 1px solid #ddd;
    margin: -10px 10px 10px 0 !important;
  }
  .mat-card-title {
    font-size: 14px;
    @media only screen and (min-width: $break-sm) {
      font-size: 16px;
    }
  }

  // TODO: Rework
  mat-card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;

    .deal-metadata {
      font-size: 12px;
      color: grey;
      padding: 14px;

    }

    .actions {
      display: inline-block;
      float: right;
      white-space: nowrap;
    }
  }
}


.brand-link {
  text-decoration: none;
  color: black;
}

/* branded-deal-card used in offer home/category page */
mat-card.branded-deal-card {
  width: 48%;
  margin-bottom: 15px;
  padding: 0;

  .image {
    position: relative;
  }

  img.main {
    width: 100%;
  }

  img.logo {
    border: 1px solid darkblue;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    bottom: -10px;
    // TODO: limit the size to 48px on small screen
    width: 48px;
    height: auto;
  }

  mat-card-content {
    padding: 15px 10px 10px 10px;
  }

  .brand-name {
    font-size: 12px;
    color: lightgrey;
    margin-bottom: 10px;
  }
}


/**
 * Offer card box
 */
.box {
  display: block;
  padding: 0 0 0.5rem 0;
  margin: 0.5rem 0.5rem 2rem;
  border: 1px solid #ececec;
  background: #fff;
  // FIXME: box-shadow.
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.card-group-title {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
  background-color: #f1f1f1;

  a {
    text-decoration: none;
    color: rgba(70, 70, 70, 0.80);
  }

  h2,h3,h4,h5 {
    margin: 0;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 400;
  }

  // Link to category
  .more {
    float: right;
    font-size: 0.9rem;
    color: rgba(70, 70, 70, 0.60);
  }
}

.card-group-content {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/**
 * Offer card style
 */

.offer-card-wrapper {
  position: relative; // This makes the absolution position of 'logo' works
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  display: block;
  text-decoration: none;
  margin-bottom: 1rem;

  .header-image {
    border-radius: 0;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      border-bottom: 1px solid #e2e2e2;
    }
  }

  .media {
    margin: 10px;
    display: block;
    overflow:hidden;

    .counter-badge {
      background-color: rgba(255, 0, 0, 0.5);
      border-radius: 20%;
      position: absolute;
      top: 2%;
      right: 2%;
      font-size: 0.8rem;
      padding: 2px 6px;
      color: white;
    }

    .media-img {
      bottom: 35%;
      right: 16px;
      width: 64px;
      height: 64px;
      position: absolute;
      margin-right: 0;
      border: 1px solid #e2e2e2;
      border-radius: 4px;
      float: left;

      @media only screen and (max-width: $break-sm-m1) {
        bottom: 30%;
      }
    }

    .media-body {
      height: auto;
      display: table-cell;
      vertical-align: top;

      .merchant-name {
        font-size: 0.7rem;
        color: #777777;
        text-transform: uppercase;
        overflow: hidden;
        display: block;
        line-height: 21px;
        height: 21px;
      }

      .offer-title {
        font-size: 0.9rem;
        height: 3.1rem;
        line-height: 16px;
        color: #222222;
        display: block;
      }

      .featured {
        color: #ec564a;
      }

      @media only screen and (min-width: $break-sm) and (max-width: $break-md-m1) {
        .merchant-name {
          font-size: 0.6rem;
        }
        .offer-title {
          font-size: 0.8rem;
        }
      }
    }
  }
}