/**
 * Layout related definitions
 */

//
// flexboxgrid variables
//

// Media query break points for different screen width
$break-sm: 48em;       // 768px  if base font-size is 16px
$break-md: 64em;       // 1024px
$break-lg: 75em;       // 1200px

// Break point minus 0.1
$break-sm-m1: 47.9em;
$break-md-m1: 63.9em;
$break-lg-m1: 74.9em;

// Container with for each corresponding screen with
$container-sm: 48rem;  // 768px
$container-md: 61rem;  // 976px
$container-lg: 71rem;  // 1136px


// Set the number of columns you want to use on your layout.
$grid-columns: 24;
// Set the gutter between columns.
$gutter-width: 0.5rem;
// Set a margin for the container sides.
$outer-margin: 2rem;
// Create or remove breakpoints for your project
// Syntax:
// name SIZErem,
$breakpoints:
        sm $break-sm $container-sm,
        md $break-md $container-md,
        lg $break-lg $container-lg;
$flexboxgrid-max-width: 1200px;


$padding: 1rem;

//
// Flexbox grid
//
@import "../../node_modules/flexboxgrid-sass/flexboxgrid";

//
// Overwrite container width for small screen
//
@media only screen and (min-width: $break-sm) and (max-width: $break-md-m1)
{
  .container {
    width: auto;
  }
}

//
// Height of mobile navbar(top, bottom)
//
$navbar-height: 3rem;


//
// Body
//
.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

//
// Page wrapper
//
.wrap {
  background: $body-bg;
  box-sizing: border-box;
  max-width: $flexboxgrid-max-width;
  margin: 0 auto;
}

//
// Mobile sidebar
//
.sidenav {
  width: 75vw; // 75% of xs screen width
  @media only screen and (min-width: $break-sm) {
    width: 35vw; // 35% of sm screen width
  }
  position: fixed !important; // mat-sidenav bug workaround
}

//
// Make the page 100% height, mat-sidenav bug workaround
//
@media only screen and (max-width: $break-md) {
  .fullscreen-container {
    // Overwrite container-fluid padding on phones and tablets
    padding: 0 0 0 0 !important;
  }
}

// Content wrap
.content-wrap {
  min-height: 100vh;
  // No horizontal scroll: Overwrite .mat-sidenav-content
  @media only screen and (min-width: $break-md) {
    overflow: hidden !important;
  }
}

//
// Leave some space so fixed bottom-nav can not cover content.
//
@media only screen and (max-width: $break-md) {
  .content {
    margin: 0 0 $navbar-height;
  }
}

.float-right {
  float: right;
}

.flexbox {
  display: flex;
}

//
// Narrow down mat-tabs a bit
//
.narrow {
  .mat-tab-label {
    padding: 0 12px !important;
    min-width: 100px;
    @media only screen and (max-width: $break-sm) {
      min-width: 72px;
    }
  }
}

// topic/post/page main content area
.post-body {
  img { max-width: 100%; }
}
