// Overwrite default font-awesome variable
// We will copy fa fonts into public folder

// FIXME: fontawesome 5 does work, 4.7 works.
//$fa-font-path: "/assets/webfonts";
$fa-font-path: "../node_modules/font-awesome/fonts";

$mobile-max-width: 736px; // Iphone 6 plus: 414 x 736;
$desktop-min-width: 737px;

$columns: 12;
$gutter: 1rem;
$margin: 1rem;
$padding: 1rem;

/* Define flexboxgrid base layout */
$flexboxgrid-grid-columns: $columns;
$flexboxgrid-gutter-width: $gutter;
$flexboxgrid-outer-margin: $margin;
