/**
 * Sample configuration file, copy this file to .config.ts and modify the
 * corresponding entries.
 */

export const API_SERVER = 'http://localhost:5001';
export const IMG_SERVER = 'http://localhost:5001';

// A mirror of thumbnails which match the definitions in API server(filesystems.php).
export const THUMBS = {
    THUMB_AVATAR: 'thumb-avatar',   // 80 x 80
    THUMB_GALLERY: 'thumb-gallery', // 160 x 160
    THUMB_CARD_LG: 'thumb-card-lg', // 320 x 260
    THUMB_CARD_21: 'thumb-card-21', // 400 x 200
};
