/**
 * Sample configuration file, copy this file to .config.ts and modify the
 * corresponding entries.
 */

export const API_SERVER = 'http://localhost:5001';
export const IMG_SERVER = 'http://localhost:5001';

// A mirror of thumbnails which match the definitions in API server(filesystems.php).
export const THUMBS = {
    THUMB_AVATAR: 'thumb-avatar',   // 80 x 80
    THUMB_GALLERY: 'thumb-gallery', // 160 x 160
    THUMB_CARD_LG: 'thumb-card-lg', // 320 x 260
    THUMB_CARD_21: 'thumb-card-21', // 400 x 200
};

// Website constant definition
export const SITE = {
    // Site name
    NAME: '英国邦利',
};

// Phase 1 menu for deal channel
export const DEAL_MENUS = [
    {name: '医药美妆', slug: 'beauty-health'},
    {name: '服饰箱包', slug: 'clothes-bag'},
    {name: '珠宝腕表', slug: 'jewellery-watch'},
    {name: '日用百货', slug: 'household'},
    {name: '票务预订', slug: 'booking'},
];

// Slug to name mapping whish is used to set the title of offer category page
export const CAT_NAMES = {
    'beauty-health':   '医药美妆',
    'clothes-bag':     '服饰箱包',
    'jewellery-watch': '珠宝腕表',
    'household':       '日用百货',
    'booking':         '票务预定',
};