<!-- Grouped card style, each card take a whole row which is not good on desktop view -->
<div class="cards-wrapper" *ngIf="display == 'group'">
    <div class="cards-title">
        {{ topic.title }}

        <span style="padding-left: 5px; color: rgba(0,0,0,0.5); font-size: 80%" *ngIf="topic.offers_count">{{ topic.offers_count }}条优惠</span>

        <a class="more" [routerLink]="['/deal/cat', category]" *ngIf="category">
            <i class="fa fa-lg fa-ellipsis-h"></i>
        </a>

        <a class="more" [routerLink]="['/merchant/', topic.guid]" [fragment]="'deal'" *ngIf="topic">
            <i class="fa fa-lg fa-ellipsis-h"></i>
        </a>
    </div>

    <div class="cards-container" *ngIf="!isCategoryPage">
        <mat-card *ngFor="let offer of topic.offers" class="branded-deal-card">
            <a [routerLink]="['/merchant', topic.guid]" [fragment]="'deal'" class="brand-link">
                <div class="image">
                    <img class="logo" [src]="logoUrl">
                    <img class="main" src="http://placehold.it/400x260?text=BeautyOffer">
                </div>
                <mat-card-content>
                    <div class="brand-name">{{ topic.title }}</div>
                    <div class="offer-title">{{ offerTitle }}</div>
                </mat-card-content>
            </a>
        </mat-card>
    </div>

    <!-- Style for offer category page, show 1 or 2 cards for each offer -->
    <div class="cards-container" *ngIf="isCategoryPage">
        <mat-card *ngFor="let offer of topic.offers | slice:0:2" class="deal-card">
            <a [routerLink]="['/merchant', topic.guid]" [fragment]="'deal'" class="brand-link"
               style="display: block; margin-bottom: -32px !important;">
                <div class="deal-card-content">
                    <img mat-card-image [src]="logoUrl">
                    <mat-card-title>
                        {{ offerTitle }}
                    </mat-card-title>
                </div>
                <mat-card-actions>
                    <span class="deal-metadata">{{ expires(offer.ends) }}</span>
                </mat-card-actions>
            </a>
        </mat-card>
    </div>
</div>

<!-- Responsive card style with featured image and logo -->
<a class="offer-card-wrapper inset-logo" [routerLink]="['/merchant', topic.guid]"
   *ngIf="display == 'card'">
    <div class="header-image">
        <img [src]="imgUrl">
    </div>

    <span class="media">
        <img class="media-img" [src]="logoUrl">
        <span class="media-body">
            <span class="merchant-name">{{ topic.title }}</span>
            <span class="offer-details">
                <span class="feature-flag" *ngIf="topic.featured > 0">[推荐]</span>
                <span class="offer-title">
                    {{ offerTitle }}
                </span>
            </span>
        </span>
    </span>
</a>
