<!-- Grouped card style, each card take a whole row which is not good on desktop view -->

<!-- Style for offer category page, show 1 or 2 cards for each offer -->
<div class="box" *ngIf="topic" [@fadeIn]>
    <div class="card-group-title">
        <a [routerLink]="['/merchant/', topic.guid]" [fragment]="'deal'">
            <h2>{{ topic.title }}</h2>
            <small class="more">{{ topic.offers_count }}条优惠</small>
        </a>
    </div>

    <div class="card-group-content">
        <mat-card *ngFor="let offer of topic.offers | sort:'featured' | slice:0:2" class="deal-card">
            <a [routerLink]="['/merchant', topic.guid]" [fragment]="'deal'" class="brand-link"
               style="display: block; margin-bottom: -32px !important;">
                <div class="deal-card-content">
                    <img mat-card-image [src]="helper.topicLogoUrl(topic)">
                    <mat-card-title>
                        {{ helper.shorten(offer.title) }}
                    </mat-card-title>
                </div>
                <mat-card-actions>
                    <span class="deal-metadata">{{ helper.expireDate(offer.ends) }}</span>
                </mat-card-actions>
            </a>
        </mat-card>
    </div>
</div>

<!-- Offer index page offer card group -->
<div *ngIf="topics" class="box" [@fadeIn]>
    <div class="card-group-title">
        <a [routerLink]="['/deal/cat', category]">
            <h2>{{ title }}</h2>
            <small class="more">更多...</small>
        </a>
    </div>

    <div class="row card-group-content">
        <div class="col-xs-24 col-sm-6 col-md-6" *ngFor="let t of topics">
            <!-- Responsive card style with featured image and logo -->
            <a class="offer-card-wrapper inset-logo" [routerLink]="['/merchant', t.guid]"
               [fragment]="'deal'">
                <div class="header-image">
                    <img [src]="helper.thumb21Url(t)">
                </div>

                <span class="media">
                    <span class="counter-badge">{{ helper.offerCount(t) }}</span>
                    <img class="media-img" [src]="helper.topicLogoUrl(t)">
                    <span class="media-body">
                        <span class="merchant-name">{{ t.title }}</span>
                        <span class="offer-title">
                            {{ helper.offerTitle(t) }}
                        </span>
                    </span>
                </span>
            </a>
        </div>
    </div>
</div>