<!--
TODO: We listen on different page to to show different menu for different page.
E.g: Only show locations for home, travel, local etc.
-->

<!-- Header - logo and banners -->
<div class="header">
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <a routerLink="/">
                <img class="logo" src="http://placehold.it/300x90?text=频道LOGO">
            </a>
        </div>
    </div>
</div>

<!-- Deal menus -->
<div class="row">
    <div class="col-md-24 col-lg-24">
        <nav mat-tab-nav-bar>
            <a mat-tab-link href="http://www.bangli.uk" target="_blank">英国邦利首页</a>
            <a mat-tab-link *ngFor="let menu of menus" [routerLink]="menu.url">
                {{menu.name}}
            </a>
            <a mat-tab-link routerLink="/deal/list" fragment="search"><i class="fa fa-lg fa-search"></i></a>
        </nav>
    </div>
</div>

<!-- Main menus, second phase -->
<!--
<div class="row">
    <div class="col-md-24 col-lg-24">
        <mat-tab-group [selectedIndex]="menuidx || 0">

            <mat-tab *ngFor="let m of (mainMenus$ | async); let i=index">
                <a *mat-tab-label (mouseover)="menuidx = i"
                   [routerLink]="[m.url]" routerLinkActive="active">{{ m.name }}</a>

                <template mat-tab-content>
                    <div *ngFor="let gid of (subMenuGids$(m.id) | async)" class="multirow col4">
                        <a *ngFor="let item of (subMenus$(m.id) | async)[gid]"
                           [routerLink]="[item.url]">{{ item.name }}</a>
                    </div>
                </template>
            </mat-tab>

        </mat-tab-group>
    </div>
</div>
-->
