<!-- topic logo, title, number of deal/post, tracking_url, subscribe -->
<div class="topic-head" *ngIf="topic">

    <div style="width: 100%">

        <a  class="float-right" mat-raised-button target="_blank"
            href="{{ topic.tracking_url }}">访问官网</a>
        <!--<button mat-raised-button>订阅</button><br>-->

        <div class="flexbox">
            <img class="topic-img" *ngIf="topic.logo != ''"
                 [src]="helper.topicLogoUrl(topic)">

            <div class="topic-caption">
                <h2>{{ topic.title }}<span *ngIf="topic.title_cn" class="hidden-xs"> | {{ topic.title_cn }}</span></h2>
                <p [innerHtml]="topic.description"></p>
            </div>
        </div>
    </div>
</div>
