<!--
<mat-tab-group class="brand-a-z" [selectedIndex]="selectedIdx"
               (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)">
    <ng-template ngFor let-a [ngForOf]="alphabets">
        <mat-tab [label]="a" (click)="loadEntitiesStartWith(a)">
            <div>
                This is the content for tab {{ a }}
            </div>
        </mat-tab>
    </ng-template>
</mat-tab-group>
-->

<div class="brand-a-z">
    <nav mat-tab-nav-bar>
        <ng-template ngFor let-a [ngForOf]="alphabets">
            <a mat-tab-link [routerLink]="" [fragment]="a">{{ a }}</a>
        </ng-template>
    </nav>
</div>


<mat-nav-list>
    <ng-template ngFor let-entity [ngForOf]="(entities$ | async)[key]" let-i="index">
        <h3 mat-subheader
            *ngIf="isGroupStart(i, (entities$ | async)[key][i > 0 ? i - 1 : 0].guid, entity.guid)">{{ entity.guid.substring(0,1) | uppercase}}</h3>
        <a mat-list-item [routerLink]="['/merchant', entity.guid]"
           [fragment]="'deal'" class="topic-list-item">
            <h4 mat-line>{{ entity.title }}</h4>
            <span class="offer-count-badge">{{ entity.offers_count }}</span>
        </a>
    </ng-template>
</mat-nav-list>

<div style="padding: 10px 0">
    <a mat-raised-button class="load-more" [routerLink]="[baseUrl, nextPage]"
       *ngIf="!isLoading && pageless">加载更多</a>
</div>
