<!-- Offers home page for mobile, this is different from merchants home page -->
<div class="offers-page">

    <ngx-carousel [inputs]="carouselConfig">
        <ngx-item NgxCarouselItem *ngFor="let topic of (topics$ | async)[groupKeys.TOP_FEATURED_OFFER]">
            <a [routerLink]="['/merchant', topic.guid]" [fragment]="'deal'" class="tile">
                <img [src]="thumbCard21Url(topic.images)">
                <h2 class="carousel-caption">[{{ topic.title }}] <span *ngIf="topic.offers">{{ topic.offers[0].title }}</span></h2>
            </a>
        </ngx-item>

        <button NgxCarouselPrev mat-mini-fab class="prev">
            <i class="fa fa-2x fa-angle-left"></i>
        </button>
        <button NgxCarouselNext mat-mini-fab class="next">
            <i class="fa fa-2x fa-angle-right"></i>
        </button>
    </ngx-carousel>


    <div class="row">
        <ng-template ngFor let-topic [ngForOf]="(topics$ | async)[groupKeys.FEATURED_BEAUTY_OFFER]">
            <div class="col-xs-24 col-sm-6 col-md-6">
                <offer-card [offers]="topic.offers" [topic]="topic"
                            [display]="'card'">
                </offer-card>
            </div>
        </ng-template>
    </div>

    <div class="row">
        <ng-template ngFor let-topic [ngForOf]="(topics$ | async)[groupKeys.FEATURED_HEALTHCARE_OFFER]">
            <div class="col-xs-24 col-sm-6 col-md-6">
                <offer-card [offers]="topic.offers" [topic]="topic"
                            [display]="'card'"></offer-card>
            </div>
        </ng-template>
    </div>

    <div class="row">
        <ng-template ngFor let-topic [ngForOf]="(topics$ | async)[groupKeys.FEATURED_FASHION_OFFER]">
            <div class="col-xs-24 col-sm-6 col-md-6">
                <offer-card [offers]="topic.offers" [topic]="topic"
                            [display]="'card'"></offer-card>
            </div>
        </ng-template>
    </div>

</div>
