<!-- Offers home page for mobile, this is different from merchants home page -->
<div class="offers-index">
    <carousel [interval]="3000" [noWrap]="false">
        <slide *ngFor="let topic of (topics$ | async)[groupKeys.CATEGORY_FEATURED_TOPIC_W_OFFER]; let idx=index">
            <a [routerLink]="['/merchant', topic.guid]" [fragment]="'deal'">
                <img [src]="thumbCard21Url(topic.images)">
                <div class="carousel-caption">
                    <h4>[{{ topic.title }}] {{ topic.offers[0].title }}</h4>
                </div>
            </a>
        </slide>
    </carousel>

    <!-- Show hot offer topic brand logo of this category -->
    <!--
    <div class="">

    </div>
    -->

    <!-- Deal card with brand logo -->
    <ng-template ngFor let-topic [ngForOf]="(topics$ | async)[groupKeys.CATEGORY_TOPIC_W_OFFER]">
        <offer-card-group [offers]="topic.offers"
                          [topic]="topic">
        </offer-card-group>
    </ng-template>


    <div style="padding: 20px 0" *ngIf="!isLastGroupLoading && pageless">
        <a mat-raised-button class="load-more" [routerLink]="['/deal/cat', lastGroupCat, nextPage]"
           *ngIf="!isLastPage((paginator$|async)[groupKeys.CATEGORY_TOPIC_W_OFFER])">加载更多</a>
    </div>
</div>
