<!-- Offers home page for mobile, this is different from merchants home page -->
<div class="offers-index">
<!--
    <carousel [interval]="3000" [noWrap]="false">
        <slide *ngFor="let topic of (topics$ | async)[groupKeys.CATEGORY_FEATURED_TOPIC_W_OFFER]; let idx=index">
            <a [routerLink]="['/merchant', topic.guid]" [fragment]="'deal'">
                <img [src]="thumbCard21Url(topic.images)">
                <div class="carousel-caption">
                    <h4>[{{ topic.title }}] <span *ngIf="topic.offers">{{ topic.offers[0].title }}</span></h4>
                </div>
            </a>
        </slide>
    </carousel>
-->


    <ngx-carousel [inputs]="carouselConfig">
        <ngx-item NgxCarouselItem *ngFor="let topic of (topics$ | async)[groupKeys.CATEGORY_FEATURED_TOPIC_W_OFFER]">
            <a [routerLink]="['/merchant', topic.guid]" [fragment]="'deal'">
                <img [src]="thumbCard21Url(topic.images)">
                <h2>[{{ topic.title }}] <span *ngIf="topic.offers">{{ topic.offers[0].title }}</span></h2>
            </a>
        </ngx-item>

        <button NgxCarouselPrev mat-mini-fab>&lt;</button>
        <button NgxCarouselNext mat-mini-fab>&gt;</button>
    </ngx-carousel>

    <!-- Show hot offer topic brand logo of this category -->
    <!--
    <div class="">

    </div>
    -->

    <!-- Deal card with brand logo -->
    <div class="row">

        <div class="col-xs-24 col-sm-24 col-md-17">
            <ng-template ngFor let-topic [ngForOf]="(topics$ | async)[groupKeys.CATEGORY_TOPIC_W_OFFER]">
                <offer-card-group [offers]="topic.offers"
                                  [topic]="topic">
                </offer-card-group>
            </ng-template>

            <div style="padding: 20px 0" *ngIf="!isLastGroupLoading && pageless">
                <a mat-raised-button class="load-more" [routerLink]="['/deal/cat', lastGroupCat, nextPage]"
               *ngIf="!isLastPage(groupKeys.CATEGORY_TOPIC_W_OFFER)">加载更多...</a>
            </div>
        </div>

        <div class="col-md-7 hidden-xs hidden-sm">
            This is the sidebar of offer category page form md/lg screen
        </div>

    </div>
</div>
