<!-- Offers home page for mobile, this is different from merchants home page -->
<div class="offers-page">

    <ngx-carousel [inputs]="carouselConfig">
        <ngx-item NgxCarouselItem *ngFor="let topic of (topics$ | async)[groupKeys.FEATURED_OFFER]">
            <a [routerLink]="['/merchant', topic.guid]" [fragment]="'deal'" class="tile">
                <img [src]="thumbCard21Url(topic.images)">
                <h2 class="carousel-caption">[{{ topic.title }}] <span *ngIf="topic.offers">{{ topic.offers[0].title }}</span></h2>
            </a>
        </ngx-item>

        <button NgxCarouselPrev mat-mini-fab class="prev">
            <i class="fa fa-2x fa-angle-left"></i>
        </button>
        <button NgxCarouselNext mat-mini-fab class="next">
            <i class="fa fa-2x fa-angle-right"></i>
        </button>
    </ngx-carousel>


    <!-- TODO: Get title/category from groupParams instead of hardcoded here -->
<!--
    <offer-card-group [topic]="(offers$ | async)[groupKeys.FEATURED_BEAUTY_OFFER]"
                      [title]="'美妆优惠'"
                      [category]="'beauty'">
    </offer-card-group>

    <offer-card-group [offers]="(offers$ | async)[groupKeys.FEATURED_HEALTHCARE_OFFER]"
                      [title]="'保健优惠'"
                      [category]="'healthcare'">
    </offer-card-group>

    <offer-card-group [offers]="(offers$ | async)[groupKeys.FEATURED_FASHION_OFFER]"
                      [title]="'服饰箱包'"
                      [category]="'clothes-bag'">
    </offer-card-group>
    -->
</div>
