/**
 * Style used in list
 */

.topic-list-item {
  border-bottom: 1px solid #eee;
}

.offer-count-badge {
  width: 30px;
  background: #eee;
  border-radius: 5px;
  text-align: center;
}

.load-more {
  width: 100%;
  margin: 15px 10px;
}
