.navbar {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  z-index: 99;
  width: 100%;
  position: fixed;
  height: $mobile-toolbar-height;

  a, span {
    color: #333333;
    text-align: center;
    text-decoration: none;
    // Vertical align middle
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 16px;

    em {
      font-style: normal;
      font-size: 12px;
    }
  }
}

.navbar-top {
  background-color: #339933;
  top: 0;
  a,span {
    color: white;
  }
}

.navbar-bottom {
  border-top: 1px solid #cccccc;
  background-color: #f6f6f6;
  bottom: 0;
}
