/* Phase 1 style */
.p1-navbar {
  position: relative !important;
  top: auto !important;
  .mat-tab-links {
    justify-content: center !important;
  }
}

.navbar {
  overflow: hidden;
  z-index: 99;
  width: 100%;
  position: fixed;
  height: $mobile-toolbar-height;

  .mat-tab-links {
    display: flex;
    justify-content: space-between;
  }
}


.navbar-top {
  background-color: #339933;
  top: 0;

  a, span {
    color: white;
  }
}

.navbar-bottom {

  border-top: 1px solid #dddddd;
  background-color: #f6f6f6;
  bottom: 0;

  .mat-tab-link {
    min-width: 0 !important;
    display: flex;
    flex-direction: column;
  }

  em {
    padding-top: 4px;
    font-style: normal;
    font-size: 12px;
  }
}
