/**
 * Topic related style for mobile
 */

.topic-page {

  .topic-img img, .deal-img img {
    border-radius: 10px;
    border: 1px solid lightgrey;
    max-width: 64px;
    max-height: 64px;
  }

  .topic-head {

    display: flex;
    justify-content: space-between;
    padding: 0.5rem;

    div {
      display: inline-block;
    }

    .topic-left {
      width: 70%;
      display: flex;
      justify-content: space-between;
      align-content: space-between;

      div {
        display: inline-block;
      }

      .topic-caption {
        padding-left: 0.5rem;
      }

      h2 {
        margin: 0.5rem 0;
        font-size: 1.2rem;
      }
      p {
        margin: 0;
        font-size: 0.8rem;
        color: grey;
      }
    }

    .topic-action {
      button {
        margin-bottom: 5px;
        line-height: 30px;
      }
    }
  }

  .topic-body {

    .mat-tab-body-wrapper {
      margin: 1rem;
    }

    md-tab-group {
      border-top: 1px solid #dddddd;
    }

    // A single deal in the topic deal list
    .topic-deal {
      .deal-detail {
        display: flex;
        div {
          display: inline-block;
        }
      }

      .deal-footer {
        display: flex;
        justify-content: space-between;
      }
    }
  }

}