
$columns: 12;
$gutter: 1rem;
$margin: 1rem;
$padding: 1rem;

/* Define flexboxgrid base layout */
$flexboxgrid-grid-columns: $columns;
$flexboxgrid-gutter-width: $gutter;
$flexboxgrid-outer-margin: $margin;
